<body class="home-eight">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
		<!-- header area start -->
		<header>
            <!--register.html 에서 datepicker 부분-->
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{#            <script>#}
{#            $(function() {#}
{#                $( ".dtpick" ).datepicker();#}
{#            });#}
{#            </script>#}
			<div class="container-fluid">
				<div class="row">
					<!-- logo start -->
					<div class="col-md-6 text-left">
						<div class="top-logo" style="width:120px; line-height: 60px;">
							<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/new_icis.png') }}" alt="" /></a>

						</div>
					</div>
					<!-- logo end -->
					<!-- top details area start -->
					<div class="col-md-6 text-right">
						<div class="top-detail">
							<!-- language division start -->
							<div class="disflow">
                                 {% if id  %}
                                         <div class="expand lang-all disflow">
                                             <a >{{ id }} 님 안녕하세요!</a>
                                         </div>
                                         <div class="expand lang-all disflow">
                                             <a href="{{ url_for('logout') }}">Logout</a>
                                         </div>

                                         {% else %}

                                         <div class="expand lang-all disflow">
                                             <a href="{{ url_for('login') }}">Log in</a>
                                         </div>
                                         <div class="expand lang-all disflow">
                                             <a href="{{ url_for('register') }}">Join</a>
                                         </div>

                                 {% endif %}


{#								<div class="expand lang-all disflow">#}
{#                                    <a href="{{ url_for('login') }}">Log in</a>#}
{#								</div>#}
{#								<div class="expand lang-all disflow">#}
{#									<a href="{{ url_for('register') }}">Join</a>#}
{#								</div>#}
							</div>

						</div>
					</div>
					<!-- top details area end -->
				</div>
			</div>
			<div class="container">
				<div class="row">
					<!-- mainmenu area start -->
					<!-- mainmenu area end -->
					<!-- top details area start -->
					<div class="col-md-13 text-right">
						<div class="top-detail">
							<!-- search divition start -->
							<div class="disflow dflt-src">
								<div class="header-search expand">
{#									<div class="search-icon fa fa-search"></div>#}
{#									<div class="product-search restrain">#}
										<div class="container nopadding-right">
{#											<form action="{{ url_for('search', page=1) }}" id="search" method="post">#}
												<div class="input-group">
													<input type="search" class="form-control" maxlength="128" placeholder="상품 정보 입력..." name="search">
													<span class="input-group-btn">
														<button type="submit" class="btn btn-default fa fa-search" style="width:80px; line-height: 48px;"><img src="{{ url_for('static', filename='img/search_2.png') }}" alt="" /></button>
													</span>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- search divition end -->
						</div>
					</div>
					<!-- top details area end -->
				</div>
			</div>
		</header>
		<!-- header area end -->
</body>